@model website.Models.CartModel

<h1>Cart</h1>

<ul>
   @foreach(var line in Model.Cart.Lines)
   {
    <li>
        @line.Product.ProductName - @line.Quantity
    </li>
   }
</ul>

<div>
    Total: @Model.Cart.Total.Amount EURO
</div>

<div>

    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
    {
        @Html.Sitecore().FormHandler("Cart", "Add")

        @Html.DropDownList("ItemId", Model.SellableItems.Select(s => new SelectListItem { Text = s.DisplayName, Value = s.ItemId.ToString() }))

        <input type="submit" value="Add" />
    }

</div>