@model website.Models.PaymentMethodModel

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
    @Html.Sitecore().FormHandler("PaymentMethod", "Add")

<fieldset>

    <span>
        @Html.LabelFor(x => x.Party.FirstName)
        @Html.EditorFor(x => x.Party.FirstName)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.LastName)
        @Html.EditorFor(x => x.Party.LastName)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.Address1)
        @Html.EditorFor(x => x.Party.Address1)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.ZipPostalCode)
        @Html.EditorFor(x => x.Party.ZipPostalCode)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.City)
        @Html.EditorFor(x => x.Party.City)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.State)
        @Html.EditorFor(x => x.Party.State)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.CountryCode)
        @Html.EditorFor(x => x.Party.CountryCode)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.PhoneNumber)
        @Html.EditorFor(x => x.Party.PhoneNumber)
    </span>

    <span>
        @Html.LabelFor(x => x.Party.Email)
        @Html.EditorFor(x => x.Party.Email)
    </span>

    <span>
        <input type="submit" value="Add" />
    </span>

</fieldset>
}